.counter {
    min-width: 250px;
    height: 250px;
    font-size: 100px;
    padding: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid #fff;
    margin: 0px auto 15px auto;
}